{#
/**
 * @file
 * Default theme implementation for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 */
#}
<span class="sub"><i class="fa-solid fa-minus"></i></span>
<input{{ attributes }} />{{ children }}
<span class="add"><i class="fa-solid fa-plus"></i></span>