<div{{ attributes}}>
  <div class="cart-block--summary">
    <a class="cart-block--link__expand nav-link" href="{{ url }}">
      <span class="cart-block--summary__icon">
	  <svg class="svg-inline--fa" version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 25">
                    <path d="m15.2 22.5c0 0.7-0.6 1.3-1.4 1.3-0.7 0-1.3-0.6-1.3-1.3 0-0.8 0.6-1.4 1.3-1.4 0.8 0 1.4 0.6 1.4 1.4z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"/>
                    <path d="m27 22.5c0 0.7-0.6 1.3-1.4 1.3-0.7 0-1.3-0.6-1.3-1.3 0-0.8 0.6-1.4 1.3-1.4 0.8 0 1.4 0.6 1.4 1.4z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"/>
                    <path d="m10.4 8h19.3l-1.9 6.5c-0.2 0.7-1.1 1.2-2.2 1.2h-11.1c-1.1 0-2-0.5-2.2-1.2l-3.1-10.3h-4.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"/>
                </svg>
	 </span>
	 <span class="counts">{{ count }} </span> <span class="text">Basket</span>
      
    </a>
  </div>
  {% if content %}
  <div class="cart-block--contents">
    <div class="cart-block--contents__inner">
      <div class="cart-block--contents__items">
        {{ content }}
      </div>
      <div class="cart-block--contents__links">
        {{ links }}
      </div>
    </div>
  </div>
  {% endif %}
</div>
