{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

{% for row in rows %}
 

{% set url = view.style_plugin.getField(loop.index0, 'view_commerce_product')|render|striptags %}

          <div class="featured-block">
            <div class="inner-wrapper">
              <div class="img-wrapper">
                {{ view.style_plugin.getField(loop.index0, 'field_images') }}
              </div>
              <div class="content-element">
                {{ view.style_plugin.getField(loop.index0, 'body') }}
                <a href="{{ url }}" class="btn red-btn">Shop Now <i class="fa-solid fa-arrow-right"></i></a>
              </div>
            </div>
          </div>

{% endfor %}
