@media screen and (min-width: 992px){
	.humburger-btn{
		display: none;
	}
}
@media screen and (max-width: 1399px){
	html{
		font-size: 80%;
	}
	
	
}
@media screen and (max-width: 1199px){
	.container-fluid{
		padding-right: calc(var(--bs-gutter-x) * .5);
    	padding-left: calc(var(--bs-gutter-x) * .5);
	}

	.navbar-expand-lg .navbar-nav .nav-link{
		padding-right: 1rem;
	}

	.slick-arrow{
		width: 2.5rem;
		height: 2.5rem;
	}
	.slick-arrow.slick-prev{
		left: -1.25rem;
	}
	.slick-arrow.slick-next{
		right: -1.25rem;
	}

	.banner-heading{
		font-size: 2.75rem;
	}
	.banner-heading span{
		font-size: 3rem;
	}
	.banner-buttons{
		margin-top: 1rem;
	}
	.banner-buttons .b_btn{
		margin-bottom: 0.75rem;
	}


	.blog .blog-img, .blog .blog-info{
		width: 50%;
	}


}
@media screen and (max-width: 991px){
	.humburger-btn{
		flex: 1 1 25%;
	}

	.navbar-collapse{
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		background: #fff;
		width: 100%;
		max-width: 360px;
		transform: translateX(-120%);
		transition: 0.4s;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
	}
	.collapse:not(.show){
		display: block;
	}
	.navbar-collapsing, .navbar-collapse.show{
		transform: translateX(0);
	}
	.navbar-collapse .navbar-nav{
		padding: 1.5rem;
		height: calc(100% - 4rem);
	    overflow-y: auto;
	    padding-bottom: 5rem;
	}
	.navbar-expand-lg .navbar-nav .nav-link{
		font-size: 1.5rem;
		padding-right: 0;
	}
	.navbar-expand-lg .navbar-collapse .navbar-toggler{
		display: block;
		margin-left: auto;
		margin-right: 0.625rem;
		margin-top: 0.625rem;
	}
	.navbar-expand-lg .navbar-collapse.collapsing{
		height: auto !important;
	}

	.user-links{
		flex: 1 1 25%;
	}
	.user-links .navbar-nav{
		justify-content: flex-end;
		flex-direction: row;
	}
	.user-links .navbar-nav .nav-link{
		margin-right: 0.75rem;
	}
	.user-links .navbar-nav .nav-link .text{
		display: none;
	}

	.icon-content .icon{
		width: 50px;
	}
	.icon-content .content-element{
		width: calc(100% - 50px);
	}

	.main-banner .left-content{
		align-items: center;
		text-align: center;
	}

	.banner-buttons{
		flex-direction: row;
		margin-top: 0;
	}
	.banner-buttons .b_btn{
		margin-right: 1.5rem;
	}
	.banner-buttons .b_btn:last-child{
		margin-bottom: 0.75rem;
		margin-right: 0.75rem;
	}

	.main-banner{
		padding-top: 0.25rem;
		padding-bottom: .75rem;
	}
	.main-banner .middle-images{
		display: none;
	}
	.main-banner .right-content{
		position: relative;
	}
	.main-banner .offer-text{
		position: absolute;
		top: 3vw;
		left: calc(var(--bs-gutter-x) * .5);
		width: auto;
		text-align: left;
		padding: calc(var(--bs-gutter-x) * .5);
	}
	.main-banner .offer-text .upto-text{
		font-size: 15vw;
		line-height: 10.2vw;
	}
	.main-banner .offer-text .upto-text sup{
		font-size: 4vw;
		top: -7.5vw;
	}
	.main-banner .offer-text .upto-text sub{
		font-size: 5vw;
		text-align: right;
		bottom: 5vw;
	}
	.main-banner .offer-text .upto-text sub b{
		font-size: 6vw;
	}
	.highlighted-text{
		font-size: 3vw;
		letter-spacing: 0.7vw;
	}


	.blog{
		width: 100%;
	}
	.blog:nth-child(odd){
		flex-direction: row-reverse;
	}
	.blog:nth-child(odd) .blog-info:before{
		right: auto;
		left: 100%;
		border-color: transparent transparent transparent #F5F5F7;
	}

	.newsletter-sec{
		text-align: center;
	}
	.newsletter-form{
		margin-top: 1rem;
	}

	.products:not(.product-slider) .product{
		width: 50%;
	}
	.product-gallery .xzoom-container .xzoom{
		height: auto;
	}

	.product-info{
		padding-left: calc(var(--bs-gutter-x) * .5);
		padding-top: calc(var(--bs-gutter-x) * .5);
	}

	.feature-block-image-left .feat-block-content{
		padding-left: calc(var(--bs-gutter-x) * .5);
	}
	.feature-block-image-right .feat-block-content{
		padding-right: calc(var(--bs-gutter-x) * .5);
	}
	
}
@media screen and (max-width: 767px){
	html{
		font-size: 75%;
	}
	.section-spacing{
		padding: 2rem 0;
	}
	.space-top{
		padding-top: 2rem;
	}
	.space-bottom{
		padding-bottom: 2rem;
	}

	.slick-dots{
		margin: 0.5rem 0 0;
	}
	.slick-dots li button{
		width: 0.75rem;
		height: 0.75rem;
	}

	h2{
		font-size: 2rem;
	}
	.section-heading{
		margin-bottom: 0.75rem;
	}


	.topbar{
		padding: 0.5rem 0;
	}

	.user-links{
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 99;
		background: #fff;
		width: 100%;
		box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
	}
	.user-links .navbar-nav .nav-item{
		flex: 1 1 0%;
		text-align: center;
		border-right: 1px solid #e0e0e3;
	}
	.user-links .navbar-nav .nav-item:last-child{
		border-right: none;
	}
	.user-links .navbar-nav .nav-link{
		margin-right: 0;
		padding: 0.75rem 0;
	}
	.user-links .nav-link .counts{
		left: 50%;
	}
	.user-links .nav-link i, .user-links .nav-link svg{
		font-size: 2rem;
	}

	.humburger-btn{
		position: absolute;
		top: 50%;
		left: calc(var(--bs-gutter-x) * .5);
		transform: translateY(-50%);
	}
	.navbar-brand{
		margin: 0 auto;
	}

	.middle-banner-sec:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		background: rgba(255, 255, 255, 0.65);
		backdrop-filter: blur(2px);
		-webkit-backdrop-filter: blur(2px);
	}
	.middle-banner-sec .content-element .btn{
		margin-top: 0.25rem;
	}

	.information-sec{
		padding: 3rem 0;
	}
	.icon-content{
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.icon-content .icon{
		height: 50px;
		margin-bottom: 1rem;
	}
	.icon-content .content-element{
		width: 100%;
	}

	.offer-content{
		padding: 1rem 1rem 2rem;
	}

	.footer-middle{
		padding-top: 1.75rem;
		padding-bottom: 4.5rem;
	}
	.footer-block{
		flex: 1 1 100%;
		border-bottom: 1px solid rgba(112, 112, 112, 0.4);
	}
	.footer-block.address{
		border-bottom: none;
	}

	.footer-block-title{
		font-weight: 500;
		font-size: 1.25rem;
		padding: 1rem 0;
		margin: 0;
	}
	.footer-block-title.mobile-title{
		padding-right: 2rem;
		position: relative;
		pointer-events: auto;
	}
	.footer-block-title.mobile-title.active{
		pointer-events: none;
	}
	.footer-block-title.mobile-title:after{
		content: '\2b';
		position: absolute;
		top: 1rem;
		right: 0;
		font-family: 'Font Awesome 6 Free';
		font-weight: 900;
	}
	.footer-block-title.mobile-title.active:after{
		content: '\f068';
	}
	.footer-block .footer-links{
		display: none;
		padding-bottom: 1.5rem;
	}

	.newsletter-form button{
		width: 7rem;
		padding: 0.625rem 0.5rem;
	}


	.page-banner{
		padding: 1.5rem 0;
	}
	.page-wrapper{
		padding: 1.75rem 0;
	}
	.filter-block{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		bottom: 0;
		overflow-x: hidden;
		overflow-y: auto;
		background: #fff;
		z-index: 9999;
		padding: 1.5rem;
		transform: translateX(-110%);
	}
	.filter-block .block .block-title-content .block-title{
		font-size: 1.5rem;
	}
	.filter-block .block .block-content ul li{
		font-size: 1.25rem;
	}

	.feature-block-wrap + .feature-block-wrap{
		margin-top: 1.5rem;
	}
	.right-big-img .feat-block-image{
		width: 100%;
		margin-bottom: 1rem;
	}
	.right-big-img .feat-block-text{
		position: relative;
		max-width: 100%;
		left: 0;
		padding: 1rem;
	}



}

@media screen and (max-width: 575px){

	.slick-arrow.slick-prev{
		left: 0;
	}
	.slick-arrow.slick-next{
		right: 0;
	}

	.icon-content + .icon-content{
		margin-top: 1.5rem;
	}
	.icon-content .icon{
		height: auto;
	}


	.banner-buttons .b_btn{
		font-size: 0.875rem;
		padding: 0.75rem 1.5rem 0.75rem 0.75rem;
		letter-spacing: normal;
		margin-right: 1.25rem;
	}

	.products:not(.product-slider) .product{
		width: 100%;
	}	

}