/*Global Style Start*/

@font-face {
	font-family: 'Montserrat';
	src: url('../webfonts/Montserrat-Medium.woff2') format('woff2'),
		url('../webfonts/Montserrat-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../webfonts/Montserrat-Regular.woff2') format('woff2'),
		url('../webfonts/Montserrat-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../webfonts/Montserrat-Light.woff2') format('woff2'),
		url('../webfonts/Montserrat-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../webfonts/Montserrat-Bold.woff2') format('woff2'),
		url('../webfonts/Montserrat-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../webfonts/Montserrat-SemiBold.woff2') format('woff2'),
		url('../webfonts/Montserrat-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../webfonts/Montserrat-Black.woff2') format('woff2'),
		url('../webfonts/Montserrat-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../webfonts/Montserrat-ExtraBold.woff2') format('woff2'),
		url('../webfonts/Montserrat-ExtraBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../webfonts/Montserrat-ExtraLight.woff2') format('woff2'),
		url('../webfonts/Montserrat-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Jost';
	src: url('../webfonts/Jost-Medium.woff2') format('woff2'),
		url('../webfonts/Jost-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Jost';
	src: url('../webfonts/Jost-Bold.woff2') format('woff2'),
		url('../webfonts/Jost-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Jost';
	src: url('../webfonts/Jost-Regular.woff2') format('woff2'),
		url('../webfonts/Jost-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Jost';
	src: url('../webfonts/Jost-SemiBold.woff2') format('woff2'),
		url('../webfonts/Jost-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../webfonts/Helvetica-Light.woff2') format('woff2'),
		url('../webfonts/Helvetica-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../webfonts/Helvetica.woff2') format('woff2'),
		url('../webfonts/Helvetica.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica';
	src: url('../webfonts/Helvetica-Bold.woff2') format('woff2'),
		url('../webfonts/Helvetica-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Manrope';
	src: url('../webfonts/Manrope-Bold.woff2') format('woff2'),
		url('../webfonts/Manrope-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Manrope';
	src: url('../webfonts/Manrope-Medium.woff2') format('woff2'),
		url('../webfonts/Manrope-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Manrope';
	src: url('../webfonts/Manrope-Regular.woff2') format('woff2'),
		url('../webfonts/Manrope-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Manrope';
	src: url('../webfonts/Manrope-Light.woff2') format('woff2'),
		url('../webfonts/Manrope-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Manrope';
	src: url('../webfonts/Manrope-SemiBold.woff2') format('woff2'),
		url('../webfonts/Manrope-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Manrope';
	src: url('../webfonts/Manrope-ExtraBold.woff2') format('woff2'),
		url('../webfonts/Manrope-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}


img {
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3 {
	font-family: 'Jost';
}

h2 {
	font-size: 2.375rem;
	line-height: 1.35;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -0.5px;
}

h3 {
	font-size: 1.75rem;
	line-height: 3.375rem;
	font-weight: 700;
}

body {
	color: #284544;
	overflow-x: hidden;
	font-family: 'Montserrat';
}

a {
	text-decoration: none;
	color: #284544;
	transition: 0.4s;
}

a:hover {
	color: #E21E26;
}

a:focus-visible,
input:focus-visible,
button:focus-visible,
select:focus-visible,
textarea:focus-visible,
.form-control:focus-visible {
	outline: none;
	box-shadow: none;
}

.section-spacing {
	padding: 3rem 0;
}

.space-top {
	padding-bottom: 0;
	padding-top: 3rem;
}

.space-bottom {
	padding-bottom: 3rem;
	padding-top: 0;
}

.section-heading {
	margin-bottom: 1.25rem;
}

.container-fluid {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

/*Global Style End*/

/*Button Style Start*/
.btn {
	font-weight: 500;
	font-family: 'Montserrat';
	padding: 0.625rem 1.125rem;
	font-size: 1rem;
	color: #000000;
	background: #fff;
	border-radius: 0;
	position: relative;
	z-index: 1;
	border: none;
	transition: 0.4s;
}

.btn svg,
.btn i {
	margin-left: 0.25rem;
}

.btn:hover {
	background: #E13F45;
	color: #fff;
}

.btn:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	bottom: -5px;
	right: -5px;
	border: 1px solid #fff;
	z-index: -1;
	transition: 0.4s;
}

.btn:hover:after {
	top: -5px;
	left: -5px;
	right: 3px;
	bottom: 3px;
	border-color: #E13F45;
}

.btn.red-btn {
	background: #E21E26;
	color: #fff;
}

.btn.red-btn:after {
	border-color: #E21E26;
}

.btn.red-btn:hover {
	background: #035183;
	color: #fff;
}

.btn.red-btn:hover:after {
	border-color: #035183;
}

.btn.blue-btn {
	background: #035183;
	color: #fff;
}

.btn.blue-btn:after {
	border-color: #035183;
}

.btn.blue-btn:hover {
	background: #E21E26;
	color: #fff;
}

.btn.blue-btn:hover:after {
	border-color: #E21E26;
}


.btn+.btn {
	margin-left: 1rem;
}



/*Button Style End*/


/*Header Start*/
.topbar {
	background: #284544;
	color: #fff;
	font-size: 0.875rem;
	padding: 1rem 0;
}

.topbar a {
	color: #fff;
}

.topbar a:hover {
	color: #E21E26;
}

.site-header {
	background: #fff;
}

.navbar {
	padding: 0;
}

.navbar .container-fluid {
	position: relative;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}

.navbar-brand {
	margin-right: 0;
	width: 19.75rem;
}

.navbar-toggler {
	border: none;
	background: none;
	padding: 0;
	width: 3rem;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.navbar-toggler svg {
	width: 2rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
	color: #28303D;
	font-size: 1rem;
	line-height: 2.75rem;
	padding-right: 2rem;
	padding-left: 0;
	font-family: 'Helvetica';
}

.navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
	padding-right: 0;
}

.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar-expand-lg .navbar-nav .nav-link.active {
	color: #E21E26;
}

.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar-expand-lg .navbar-nav .show>.nav-link {
	color: #E21E26;
}

.navbar-collapse p a {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.user-links .nav-link i,
.user-links .nav-link svg {
	margin-right: 4px;
	font-size: 1.25rem;
}

.user-links .nav-link {
	position: relative;
}

.user-links .nav-link .counts {
	position: absolute;
	top: 0.5rem;
	left: 1rem;
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 100%;
	line-height: 1.25rem;
	font-size: 0.625rem;
	background: #28303D;
	color: #fff;
	text-align: center;
}


/*Header End*/

.main-banner {
	background: #E13F45;
	color: #fff;
	font-family: 'Manrope';
	font-weight: 300;
	font-size: 1.125rem;
	padding: 1.25rem 0;
}

.main-banner .left-content {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}

.banner-heading {
	font-size: 3.25rem;
	font-family: 'Helvetica';
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.35;
}

.banner-heading span {
	display: block;
	font-weight: 300;
	font-size: 3.5rem;
}

.banner-buttons {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 2rem;
}

.banner-buttons .b_btn {
	border: 1px solid #16243E;
	background: #fff;
	color: #16243E;
	padding: 0.75rem 2rem 0.75rem 1.5rem;
	border-radius: 0;
	margin-bottom: 1rem;
	text-align: left;
	position: relative;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Montserrat';
	left: 0;
}

.banner-buttons .b_btn:hover {
	background: #035183;
	border-color: #035183;
	color: #fff;
	left: 10px;
}

.banner-buttons .b_btn:last-child {
	margin-bottom: 0;
}

.banner-buttons .b_btn .icon {
	font-style: normal;
	position: absolute;
	top: 50%;
	right: -1rem;
	transform: translateY(-50%);
	border: 1px solid #16243E;
	background: #fff;
	border-radius: 100%;
	width: 2rem;
	height: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	letter-spacing: normal;
}

.banner-buttons .b_btn:hover .icon {
	background: #035183;
	border-color: #fff;
}

.main-banner .middle-images {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.main-banner .middle-images .img {
	width: calc(50% - 10px);
	position: relative;
	overflow: hidden;
	padding-top: 52%;
	height: 0;
}

.main-banner .middle-images .img:first-child {
	width: 100%;
	margin-bottom: 1rem;
	padding-top: 46%;
}

.main-banner .middle-images .img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 2s;
}

.main-banner .middle-images .img:hover img {
	transform: scale(1.2);
}


.main-banner .right-content .img {
	width: 100%;
	padding-top: 55%;
	position: relative;
	overflow: hidden;
	height: 0;
}

.main-banner .right-content .img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 2s;
}

.main-banner .right-content .img:hover img {
	transform: scale(1.2);
}

.main-banner .offer-text {
	text-align: right;
	padding-top: 1.5rem;
}

.main-banner .offer-text .upto-text {
	font-family: 'Manrope';
	font-weight: 800;
	font-size: 10.4vw;
	display: inline-block;
	width: 100%;
	line-height: 7.1vw;
}

.main-banner .offer-text .upto-text sup {
	font-family: 'Helvetica';
	font-weight: 700;
	font-size: 2vw;
	line-height: 1;
	top: -6vw;
	right: -1vw;
}

.main-banner .offer-text .upto-text sub {
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 2.3vw;
	line-height: 1;
	display: inline-flex;
	flex-direction: column;
	bottom: 2.25vw;
}

.main-banner .offer-text .upto-text sub b {
	font-size: 3.75vw;
	display: block;
	font-weight: 600;
}

.highlighted-text {
	background: #fff;
	color: #E21E26;
	letter-spacing: 9.3px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.521vw;
	line-height: 1.72;
	display: inline-block;
	padding: 0 1rem;
	margin-top: -2rem;
}


.middle-banner-sec {
	display: inline-block;
	width: 100%;
	vertical-align: top;
	position: relative;
	z-index: 1;
}

.middle-banner-sec .img-wrapper {
	width: 100%;
}

.middle-banner-sec .img-wrapper img {
	width: 100%;
	max-height: 37.5rem;
	vertical-align: top;
	object-fit: cover;
}


.middle-banner-sec .col {
	max-width: 500px;
}

.middle-banner-sec .content-element {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
	font-size: 1.125rem;
	line-height: 1.75;
	font-weight: 500;
	z-index: 2;
}

.middle-banner-sec .content-element .btn {
	margin-top: 1rem;
}

.img-wrapper {
	display: inline-block;
	width: 100%;
	vertical-align: bottom;
}

.collection-items .slick-list {
	margin: 0 -0.75rem;
}

.collection-items .collection-item {
	padding: 0 0.75rem;
	transition: 0.4s;
}

.collection-items .collection-item:hover {
	opacity: 0.8;
}


.collection-item h4 {
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.03px;
	font-family: 'Helvetica';
	font-weight: normal;
	margin: 1rem 0 0;
	text-decoration: underline;
	padding-left: 0.625rem;
}

.light-bg {
	background: #F7F8FA;
}

.product-slider .slick-list {
	margin: 0 -1rem;
}

.products .product {
	padding: 0 1rem 5px;
	transition: 0.4s;
	top: 0;
	position: relative;
}

.products .product:hover {
	top: -1rem;
}

.products .product .product-image-variantion {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.products .special-price
{
	float: left;
}
.products .product .product-image-variantion .product-img {
	display: inline-block;
	width: 100%;
	vertical-align: bottom;
	height: 0;
	overflow: hidden;
	position: relative;
	padding-top: 107%;
	margin-bottom: 1rem;
	border: 1px solid #d9d9d9;
}

.products .product .product-image-variantion .product-img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

.products .product .product-image-variantion .price {}

.products .product .product-image-variantion .variant {
	margin-left: auto;
}

.price {
	font-size: 1rem;
	font-family: 'Helvetica';
	font-weight: bold;
	color: #E21E26;
	font-weight: bold;
}

.price .regular-price {
	font-weight: normal;
	color: #697282;
	text-decoration: line-through;
	margin-right: 2px;
}

.variant.color .option {
	position: relative;
}

.variant.color .option {
	border: 1px solid transparent;
	background: #fff;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.variant.color .option span {
	width: 0.875rem;
	height: 0.875rem;
	position: absolute;
	top: 0.125rem;
	left: 0.125rem;
}


.product-name {
	font-size: 1rem;
	font-weight: normal;
	font-family: 'Helvetica';
	line-height: 1.5;
	margin-top: 1rem;
}

.product-name a {
	color: inherit;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	vertical-align: bottom;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.product-name a:hover
{
	color: #E21E26;
}
.product .field--name-field-color
{
	margin: 2px;
	line-height: 0;
}
.product-reviews {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.product-reviews ul {
	list-style: none;
	padding: 0;
	margin: 0;
	color: #FEA610;
	display: flex;
	flex-direction: row;
	margin-right: 0.5rem;
}

.product-reviews ul li {
	margin-right: 0.25rem;
}

.information-sec {
	background-image: url(../../images/shape-bg.svg);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
	background-color: #f5f5f7;
	padding: 5rem 0;
}

.icon-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.icon-content .icon {
	width: 80px;
}

.icon-content .content-element {
	width: calc(100% - 80px);
	padding-left: 1rem;
	font-family: 'Helvetica';
}

.icon-content .content-element h5 {
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.icon-content .content-element p {
	margin: 0;
}

.offer-img {
	margin-top: -1.5rem;
}

.offer-img img {
	width: 100%;
}

.offer-content {
	display: block;
	margin: 0 auto;
	max-width: 37.5rem;
	text-align: center;
	font-family: 'Helvetica';
	padding: 2rem 1rem;
}

.offer-content h3 {
	font-size: 1.75rem;
	line-height: 1.5;
}

.offer-content .buttons .btn {
	min-width: 8.25rem;
	font-size: 0.875rem;
}

.features-slider .slick-list {
	margin: 0 -0.625rem;
}

.features-slider .featured-block {
	padding: 0 0.625rem 5px;
	font-family: 'Helvetica';
}

.features-slider .featured-block .img-wrapper {
	display: inline-block;
	width: 100%;
	vertical-align: bottom;
	position: relative;
	padding-top: 146%;
	height: 0;
	overflow: hidden;
	margin-bottom: 1.75rem;
}

.features-slider .featured-block .img-wrapper img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.4s;
}

.features-slider .featured-block:hover .img-wrapper img {
	transform: scale(1.1);
}

.features-slider .featured-block .btn {
	margin-top: 0.5rem;
}

.testimonial-sec {
	position: relative;
	z-index: 1;
}

.testimonial-sec:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	height: 65%;
	background-image: url(../../images/blue-bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

.testimonial-sec .section-heading {
	color: #fff;
}

.testimonial-block {
	text-align: center;
	padding: 2.875rem 1rem 1.5rem;
	line-height: 1.75;
	transition: 0.4s;
	position: relative;
	bottom: 0;
}

.testimonial-block:hover {
	bottom: -1rem;
}

.testimonial-block .inner-wrapper {
	background: #fff;
	border-radius: 7px;
	padding: 2rem 2rem 5rem;
	box-shadow: 0px 10px 10px #0000000A;
	background-image: url(../../images/shape.png);
	background-repeat: no-repeat;
	background-position: right bottom;

}

.testimonial-block .testimonial-user-img {
	width: 5.75rem;
	height: 5.75rem;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	margin: -4.875rem auto 0;
	display: inline-block;
}

.testimonial-block .testimonial-user-img img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	object-fit: cover;
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}

.testimonial-block ul {
	list-style: none;
	padding: 0;
	margin: 0;
	color: #E1AD53;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.testimonial-block ul li:not(:last-child) {
	margin-right: 0.25rem;
}

.testimonial-block h5 {
	font-weight: 500;
	font-size: 1rem;
}

.testimonial-block .testimonial-quote {
	margin-top: 2.5rem;
	position: relative;
}

.testimonial-block .testimonial-quote:before {
	content: '';
	width: 2rem;
	height: 1.5rem;
	background-image: url(../../images/quotes.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 2rem 1.5rem;
	position: absolute;
	top: -2rem;
	left: 0;
}

.testimonial-block .testimonial-quote p {
	margin-bottom: 0;
}



.slick-dots {
	padding-left: 0;
	margin: 1.25rem 0 0;
	list-style: none;
	text-align: center;
	font-size: 0;
	line-height: 1;
}

.slick-dots li {
	display: inline-block;
	margin: 0 2px;
}

.slick-dots li button {
	padding: 0;
	border: none;
	background: none;
	font-size: 0;
	text-indent: -999999px;
	background: #E21E26;
	width: 1rem;
	height: 1rem;
	border-radius: 12px;
	transition: 0.4s;
}

.slick-dots li.slick-active button {
	background: #DDE3D7;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
	width: 3.25rem;
	height: 3.25rem;
	border: 1px solid #707070;
	font-size: 0;
	transition: 0.4s;
	z-index: 1;
	background: #F5F5F7;
}

.slick-arrow:hover {
	background: #E13F45;
	border-color: #E13F45;
	color: #fff;
}

.slick-arrow.slick-disabled {
	opacity: 0.5;
	cursor: not-allowed;
	background: #F5F5F7;
	border-color: #707070;
	color: #284544;
}

.slick-arrow.slick-next {
	right: -1.625rem;
}

.slick-arrow.slick-prev {
	left: -1.625rem;
}

.slick-arrow:after {
	font-family: 'Font Awesome 6 Free';
	font-weight: 900;
	font-size: 1rem;
	transform: rotate(-45deg);
	display: inline-block;
}

.slick-arrow.slick-next:after {
	content: '\f30b';
}

.slick-arrow.slick-prev:after {
	content: '\f30a';
}

.blog-section {
	display: flex;
	flex-wrap: wrap;
}

.blog-section div {
	display: flex;
	flex-wrap: wrap;
}

.blog-section .section-heading {
	padding: 0 2.5rem;
	width: 100%;
	flex: 1 1 100%;
}

.blog {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	background: #F5F5F7;
}

.blog .blog-img {
	width: 60%;
	position: relative;
	overflow: hidden;
}

.blog .blog-img img {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	object-fit: cover;
	transition: 0.4s;
}

.blog:hover .blog-img img {
	transform: scale(1.1);
}

.blog .blog-info {
	width: 40%;
	font-size: 0.875rem;
	line-height: 1.75;
	color: #808080;
	padding: 2.5rem 1.25rem;
	position: relative;
}

.blog .blog-info:before {
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 100%;
	border-width: 1.625rem 2rem;
	border-color: transparent #F5F5F7 transparent transparent;
	z-index: 1;
	border-style: solid;
}

.blog .blog-info .date {
	background: #035183;
	color: #fff;
	border-radius: 4px;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.25;
	padding: 0.5rem 1rem;
	display: inline-block;
}

.blog .blog-info h4 {
	font-size: 1.5rem;
	line-height: 1.25;
	font-family: 'Jost';
	color: #000000;
	font-weight: 600;
	margin: 0.75rem 0 1rem;
}

.blog .blog-info h4 a {
	color: #000;
}

.blog .blog-info h4 a:hover {
	color: #E21E26;
}

.blog-user {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-weight: 500;
	color: #000;
}

.blog-user img {
	width: 3rem;
	height: 3rem;
	min-width: 3rem;
	border-radius: 50%;
	border: 1px solid #E21E26;
	object-fit: cover;
	margin-right: 0.625rem;
}

.newsletter-sec {
	background-color: #E21E26;
	color: #fff;
	font-size: 1.125rem;
	font-weight: 500;
}

.newsletter-sec p {
	margin-bottom: 0;
}

.newsletter-form {
	position: relative;
	display: inline-block;
	width: 100%;
	vertical-align: bottom;
}

.newsletter-form input {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.22);
	border-radius: 7px;
	padding: 0.625rem 10.25rem 0.625rem 1rem;
	line-height: 2;
	font-size: 1rem;
	font-family: 'Montserrat';
	border: none;
	color: #fff;
}

.newsletter-form input[type="email"]::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #fff;
}

.newsletter-form input[type="email"]::-moz-placeholder {
	/* Firefox 19+ */
	color: #fff;
}

.newsletter-form input[type="email"]:-ms-input-placeholder {
	/* IE 10+ */
	color: #fff;
}

.newsletter-form input[type="email"]:-moz-placeholder {
	/* Firefox 18- */
	color: #fff;
}

.newsletter-form button {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 7px;
	border: none;
	background: #035183;
	padding: 0.625rem 1rem;
	line-height: 2;
	font-size: 1rem;
	font-family: 'Montserrat';
	color: #fff;
	font-weight: normal;
	width: 10rem;
	transition: 0.4s;
}

.newsletter-form button:hover {
	background: #fff;
	color: #035183;
}


.footer-middle {
	background: #16243E;
	color: #F5F5F7;
	padding: 2.5rem 0 0;
}

.footer-middle a {
	color: #f5f5f7;
}

.footer-middle a:hover {
	color: #E21E26;
}

.footer-block-title {
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.footer-block-title.mobile-title {
	pointer-events: none;
}

.footer-block ul {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 2;
}

.footer-block ul li {
	display: inline-block;
	width: 100%;
	vertical-align: bottom;
}

.icon-row {
	display: flex;
	position: relative;
	padding-left: 1.25rem;
	margin-bottom: 0.625rem;
}

.icon-row i,
.icon-row svg {
	width: 0.875rem;
	position: absolute;
	top: 3px;
	left: 0;
	color: #E21E26;
}

.social-links li:not(:first-child) {
	margin-left: 1rem;
}

.site-footers .social-links {
	margin-top: 1.875rem !important;
}

.site-footers .social-links li {
	width: auto;
}

.site-footers .social-links li a {
	border-radius: 50%;
	width: 2.25rem;
	height: 2.25rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #fff;
	color: #fff;
}

.site-footers .social-links li a:hover {
	background-color: #fff;
	color: #E21E26;
}


.copyright-sec {
	color: #F5F5F7;
	font-size: 0.875rem;
	line-height: 2;
	padding: 1.25rem 0;
	border-top: 1px solid rgba(112, 112, 112, 0.4);
	margin-top: 1rem;
}

.copyright-sec a {
	color: #F5F5F7;
}

.copyright-sec a:hover {
	color: #E21E26;
}

.copyright-sec p {
	margin-bottom: 0;
}

.copyright-sec .designerdby {
	font-size: 0.8125rem;
	font-weight: 300;
}

/*Product Page*/
.page-banner {
	background: #E21E26;
	color: #fff;
	padding: 2.5rem 0;
}

.page-title {
	font-size: 2.25rem;
	margin: 0;
	font-weight: 700;
	text-transform: uppercase;
}

.breadcrumb {
	margin-bottom: 0;
	font-family: 'Helvetica';
	font-weight: 500;
}

.breadcrumb a {
	color: #fff;
}

.breadcrumb-item+.breadcrumb-item::before,
.breadcrumb-item.active {
	color: #fff ;
	opacity: 0.8;
}

.page-wrapper {
	padding: 2.5rem 0;
}

.sidebar .block {
	margin-bottom: 1.5rem;
}

.sidebar .block .block-title-content {
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 1rem;
}

.sidebar .block .block-title-content .block-title {
	font-size: 1rem;
	font-weight: normal;
	font-family: 'Helvetica';
	text-transform: none;
}

.sidebar .block .block-content {
	font-family: 'Helvetica';
}

.sidebar .block .block-content ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	width: 100%;
	height: auto;
	max-height: 220px;
	overflow: hidden;
	overflow-y: auto;
}

.sidebar .block .block-content ul li {
	float: left;
	width: 100%;
	padding: 5px 0;
	font-size: 0.875rem;
}

.sidebar .block .block-content ul li input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

.sidebar [type="checkbox"]+label {
	position: relative;
	display: inline-block;
	padding-left: 30px;
	line-height: 20px;
	cursor: pointer;
	-webkit-user-select: none;
}

.sidebar [type="checkbox"]:not(:checked)+label:before {
	position: absolute;
	z-index: 1;
	margin-top: 2px;
	top: 10px;
	left: 6px;
	width: 0;
	height: 0;
	border: 3px solid transparent;
	-webkit-transform: rotateZ(45deg);
	-ms-transform: rotate(45deg);
	transform: rotateZ(45deg);
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}

.sidebar [type="checkbox"]:checked+label:before {
	content: '';
	position: absolute;
	z-index: 1;
	margin-top: 2px;
	top: 1px;
	left: 2px;
	width: 6px;
	height: 12px;
	border-top: 2px solid transparent;
	border-right: 2px solid #ffffff;
	border-bottom: 2px solid #ffffff;
	border-left: 2px solid transparent;
	-webkit-transform: rotateZ(45deg);
	-ms-transform: rotate(45deg);
	transform: rotateZ(45deg);
	-webkit-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	transition: background-color .25s;
}

.sidebar [type="checkbox"]:not(:checked)+label:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	width: 20px;
	height: 20px;
	border: 2px solid #e0e0e0;
	background-color: transparent;
	transition: background-color .25s;
}

.sidebar [type="checkbox"]:checked+label:after {
	top: 0;
	z-index: 0;
	width: 20px;
	height: 20px;
	border: 2px solid #E21E26;
	background-color: #E21E26;
	position: absolute;
	left: 0;
	content: '';
	transition: background-color .25s;
}

.products:not(.product-slider) .product {
	margin-bottom: 1.5rem;
}

.products:not(.product-slider) .product .btn {
	background: #E21E26;
	color: #fff;
}

.products:not(.product-slider) .product .btn:after {
	border-color: #E21E26;
}

.products:not(.product-slider) .product .btn:hover {
	background: #035183;
	color: #fff;
}

.products:not(.product-slider) .product .btn:hover:after {
	border-color: #035183;
}

.list-view .products:not(.product-slider) .product {
	width: 100%;
}

.list-view .products {
	padding: 0 1rem;
}

.list-view .products .product {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.list-view .products .product .product-image-variantion {
	width: 33.33%;
}

.list-view .products .product .product-bottom-info .product-image-variantion {
	width: 100%;
}

.list-view .products .product .product-bottom-info {
	width: 66.66%;
	padding: 1.5rem;
}

.list-view .products .product .product-image-variantion .product-img {
	margin-bottom: 0;
	border: none;
	height: 100%;
}



.toolbar {
	margin-bottom: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0 1rem 1.5rem;
	justify-content: space-between;
	font-size: 0.875rem;
}
.toolbar .form-item
{
	margin: 0;
}
.toolbar .filter-btn {
	width: 1rem;
	display: none;
}

.toolbar .view-type .switch-icon span {
	color: #777;
}

.toolbar .view-type .switch-icon span+span {
	margin-left: 0.5rem;
}

.toolbar .view-type .switch-icon span.active {
	color: #E21E26;
}

.toolbar form label.form-item__label {
	display: inline-block;
	font-weight: 500;
	margin-right: 0.5rem;
}

.toolbar select {
	display: inline-block;
	border-radius: 30px;
	border: 1px solid #e0e0e0;
	padding: 0.625rem 2rem 0.625rem 1rem;
	appearance: none;
	width: unset;
	background-image: url(../../images/select-arrow.png);
	background-repeat: no-repeat;
	background-position-x: calc(100% - 1rem);
	background-position-y: center;
	background-size: 1rem;
}

/*Product Details*/

.product-gallery .xzoom-container{
	width: 100%;
}
.product-gallery .xzoom-container .xzoom{
	height: 600px;
	width: 100% !important;
	object-fit: contain;
}
.product-gallery .xzoom-thumbs{
	margin-bottom: 0;
	margin-top: 1rem;
}
.product-gallery .xactive{
	-webkit-box-shadow: 0 0 3px 0 #E13F45;
    -moz-box-shadow: 0 0 3px 0 #E13F45;
    box-shadow: 0 0 3px 0 #E13F45;
    border: 1px solid #E13F45;
}


.product-info{
	padding-left: 2.5rem;
	font-family: 'Helvetica';
}
.product-info .price{
	font-size: 1.5rem;
	margin-bottom: 1rem;
}
.product-info .price .regular-price{
	margin-right: 5px;;
	float: left;
}
.stock-avability{
	margin-bottom: 1.25rem;
}
.stock-avability label{
	font-weight: 500;
}
.stock-avability .available{
	color: #6eb300;
}
.stock-avability .unavailable{
	color: #E21E26;
}

.short-descprition{
	display: inline-block;
	width: 100%;
	padding-top: 1.25rem;
	border-top: 1px solid #e0e0e0;
}

.product-meta{
	display: inline-block;
	width: 100%;
	vertical-align: bottom;
	margin-bottom: 1rem;
	margin-top: 1rem;
}
.product-meta .product-meta-item{
	margin-bottom: 0.5rem;
}
.product-meta .product-meta-item .field-label{
	width: 6rem;
	font-weight: 600;
}
.add-to-cart-form{
	display: inline-block;
	width: 100%;
}
.add-to-cart-form fieldset{
	float: left;
	width: 100%;
}
.add-to-cart-form fieldset legend{
	font-weight: 600;
	font-size: 1rem;
}
.add-to-cart-form fieldset legend span{
	color: #E13F45;
}
.add-to-cart-form fieldset .attributes{
	display: flex;
	align-items: center;
}
.add-to-cart-form fieldset .form-item{
	position: relative;
	margin-right: 0.5rem;
	margin-bottom: 1rem;
}
.add-to-cart-form fieldset .form-item:last-child{
	margin-right: 0;
}
.add-to-cart-form fieldset .form-item input{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}
.add-to-cart-form fieldset .size .form-item input + label{
	width: 2rem;
	height: 2rem;
	line-height: 1.75rem;
	border: 2px solid #e0e0e0;
	text-align: center;
	cursor: pointer;
	user-select: none;
}
.add-to-cart-form fieldset .size .form-item input:checked + label{
	background-color: #284544;
	border-color: #284544;
	color: #fff;
}


.add-to-cart-form fieldset .color label{
	cursor: pointer;
}
.add-to-cart-form fieldset .color .option {
	position: relative;
}

.add-to-cart-form fieldset .color .option {
	border: 2px solid transparent;
	background: #fff;
	display: inline-block;
	vertical-align: middle;
	width: 2rem;
	height: 2rem;
	position: relative;
	transition: 0.4s;
}

.add-to-cart-form fieldset .color input:not(:checked) + label .option{
	border-color: #e0e0e0 !important;
}

.add-to-cart-form fieldset .color .option span {
	width: 1rem;
	height: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.quantity{
	position: relative;
	display: inline-flex;
	width: 100%;
	max-width: 120px;
	align-items: center;
	margin: 1rem 0 0.5rem;
}
.quantity input{
	padding: 0.5rem 2.5rem;
	width: 100%;
	border: 1px solid #e0e0e0;
	text-align: center;
	appearance: none;
}
.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity .qty-btn{
	position: absolute;
	top: 0;
	padding: 0.5rem 0;
	text-align: center;
	border: 1px solid transparent;
	width: 2.25rem;
	background: #e0e0e0;
}
.quantity .qty-btn.descrease{
	left: 0;
} 
.quantity .qty-btn.increase{
	right: 0;
} 

.form-action{
	float: left;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
	margin-top: 1.5rem;
}
.add-to-cart-btn, .buy-now{
	border: 1px solid #E13F45;
	background-color: #E13F45;
	color: #fff;
	padding: 0.625rem 2rem 0.5rem;
	width: 100%;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 4px;
	overflow: hidden;
	position: relative;
	transition: 0.4s;
}
.buy-now{
	background: #035183;
	border-color: #035183;
}
.add-to-cart-btn:hover, .buy-now:hover{
	color: #fff;
	opacity: 0.8;
}


.product-full-info .nav-tabs{
	display: flex;
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
}
.product-full-info .nav-tabs li{
	border: 1px solid #e0e0e0;
	padding: 0.5rem 1.5rem;
	margin-bottom: -1px;
	cursor: pointer;
	background-color: #e0e0e0;
	border-radius: 4px 4px 0 0;
}
.product-full-info .nav-tabs li + li{
	margin-left: 0.5rem;
}
.product-full-info .nav-tabs li.active{
	border-bottom-color: #fff;
	background-color: #fff;
	color: #28303D;
	cursor: default;
	pointer-events: none;
}
.tab-content{
	border: 1px solid #e0e0e0;
	border-top: none;
}
.tab-pane{
	padding: 1.5rem;
	line-height: 1.75;
	font-family: 'Helvetica';
}
.tab-pane strong{
	font-weight: 600;
}
.tab-pane table th{
	font-weight: 600;
}

.table.spectification th:first-child{
	width: 20%;
}


.tab-pane .post-stats{
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.comment-reviews-form{
	display: inline-block;
	width: 100%;
	vertical-align: bottom;
	max-width: 600px;
}
.form-item{
	margin-bottom: 0.75rem;
}
.form-item .control-label{
	display: inline-block;
	width: 100%;
	margin-bottom: 0.25rem;
	font-size: 0.875rem;
	font-weight: 600;
	text-transform: capitalize;
}
.form-item .form-text, .form-item .form-textarea{
	width: 100%;
	border-radius: 0;
	padding: 0.5rem 1rem;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
}

.review-form .rating {
	display: inline-block;
	width: 100%;
	position: relative;
}

.review-form .rating input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

.review-form .rating label {
	color: #FEA610;
	float: left;
	cursor: pointer;
	margin-right: 0.5rem;
}

.review-form .rating label i {
	font-weight: normal;
}

.review-form .rating input:checked+label~label {
	color: #e0e0e0;
}

/* About Us */
.feature-block-wrap + .feature-block-wrap{
	margin-top: 2.5rem;
}
.feature-block-image-left .feat-block-content{
	padding-left: 2rem;
}
.feature-block-image-right{
	flex-direction: row-reverse;
}
.feature-block-image-right .feat-block-content{
	padding-right: 2rem;
}
.block-title-content{
	display: inline-block;
	width: 100%;
	margin-top: 2rem;
	margin-bottom: 1rem;
}
.block-title-content .block-subtitle{
	font-size: 1rem;
	color: #E13F45;
}
.feat-block-content{
	padding-bottom: 1.5rem;
}
.feat-block-content .btn{
	margin-top: 1.5rem;
}
.feat-block-image img{
	width: 100%;
	border-radius: 5px;
}
.right-big-img{
	position: relative;
}
.right-big-img .feat-block-image{
	width: 85%;
	margin-left: auto;
	margin-bottom: 3.75rem;
}
.right-big-img .feat-block-text{
	width: 100%;
	max-width: 65%;
	position: absolute;
	bottom: 0;
	left: calc(var(--bs-gutter-x) * .5);
	background-color: #f7f7f7;
	padding: 3rem 3.75rem;
	border-radius: 10px;
}
#block-variationsproductvariationproductproductcategories,#block-size
{
	margin-bottom: 1.5rem;
}
#block-variationsproductvariationproductproductcategories ul,#block-size ul
{
	padding: 0;
	list-style:none;
}
#block-variationsproductvariationproductproductcategories ul li,#block-size ul li
{
	margin: 5px 0px;
	position: relative;
}
#block-variationsproductvariationproductproductcategories ul input,#block-size ul input
{
	opacity: 0;
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
}
.region--sidebar .block__title
{
	padding-top:2rem;
	border-bottom: 1px solid #e0e0e0;
	padding-bottom:6.4px;
    margin-bottom: 1rem;
}
.product-image-variantion a
{
	display: inline-block;
    width: 100%;
    vertical-align: bottom;
    overflow: hidden;
    position: relative;
    margin-bottom: 1rem;
    border: 1px solid #d9d9d9;
}
.view-id-product.view-display-id-page_1 .field--name-field-images
{
	margin-bottom: 0;
}
.view-id-product.view-display-id-page_1 .field--name-list-price
{
	font-weight: normal;
    color: #697282;
    text-decoration: line-through;
    margin-right: 2px;
	margin-bottom:0;
	float: left;
}
.view-id-product.view-display-id-page_1 .field--name-price
{
	margin-bottom:0;
	font-size: 1rem;
    font-family: 'Helvetica';
    font-weight: bold;
    color: #E21E26;
    font-weight: bold;
}
.view-id-product.view-display-id-page_1 .field--name-title
{
	font-size: 1rem;
    font-weight: normal;
    font-family: 'Helvetica';
    line-height: 1.5;
    margin-top: 1rem;
	margin-bottom: 0.5rem;
}
#block-breadcrumbs
{
	margin-bottom: 0;
}
#block-breadcrumbs nav
{
	margin-bottom: 0;
}
#block-breadcrumbs nav ol
{
	margin-bottom: 0;
}
.overall-rating a
{
	display:block;
}
.product-variations fieldset
{
	margin-top: 0;
	margin-bottom:1rem;
}
.product-variations .form-item legend
{
	font-weight: 600;
    font-size: 1rem;
}
.product--rendered-attribute label.option
{
	border: 2px solid #e0e0e0;
	margin: 0;
	margin-right: 0.5rem;
	padding: 0;
}
.product--rendered-attribute__selected ~ label.option
{
	border: 2px solid black;
}
.product--rendered-attribute label.option>div
{
	margin: 4.5px;
}
.product--rendered-attribute div
{
	line-height:9px;
}
#commerce-product-add-to-cart-form .form-item-quantity-0-value label
{
	display: none;
}
#commerce-product-add-to-cart-form .form-item-quantity-0-value
{
	border: 1px solid #e0e0e0;
	display: inline-flex;
    width: 100%;
    max-width: 120px;
    align-items: center;
    margin: 1rem 0 0.5rem;
}
#commerce-product-add-to-cart-form .form-item-quantity-0-value input
{
	text-align: center;
	min-height: unset;
	height:33px;
	width:100%;		
	border: 0;
}
#commerce-product-add-to-cart-form .form-item-quantity-0-value span{
	padding: 0.5rem 0;
    text-align: center;
	font-size: 13px;
    border: 1px solid transparent;
    min-width: 2.25rem;
	display: inline-block;
    background: #e0e0e0;
}