{#
/**
 * @file
 * dotstore's theme Get Started section.
 *
 * This section is enabled when no front page content has been populated.
 *
 * TODO:
 * - Move this markup into Drupal's core Frontpage Views.
 * - Translate/localize this page for different languages.
 */
#}

{% set drupal_community = 'https://www.drupal.org/community' %}
{% set drupal_values = 'https://www.drupal.org/about/values-and-principles' %}
{% set drupal_user_guide = 'https://www.drupal.org/docs/user_guide/en/index.html' %}
{% set create_content = path('node.add_page')  %}
{% set drupal_extend = 'https://www.drupal.org/docs/extending-drupal' %}
{% set drupal_global_training_days = 'https://groups.drupal.org/global-training-days' %}
{% set drupal_events = 'https://www.drupal.org/community/events' %}
{% set drupal_slack = 'https://www.drupal.org/slack' %}
{% set drupal_chat = 'https://www.drupal.org/drupalchat' %}
{% set drupal_answers = 'https://drupal.stackexchange.com/' %}

<div class="text-content">
  <p>{% trans %}<em>You haven’t created any frontpage content yet.</em>{% endtrans %}</p>
  <h2>{% trans %}Congratulations and welcome to the Drupal community.{% endtrans %}</h2>
  <p>{% trans %}Drupal is an open source platform for building amazing digital experiences. It’s made, used, taught, documented, and marketed by the <a href="{{ drupal_community }}">Drupal community</a>. Our community is made up of people from around the world with a shared set of <a href="{{ drupal_values }}">values</a>, collaborating together in a respectful manner. As we like to say:{% endtrans %}</p>
  <blockquote>{% trans %}Come for the code, stay for the community.{% endtrans %}</blockquote>
  <h2>{% trans %}Get Started{% endtrans %}</h2>
  <p>{% trans %}There are a few ways to get started with Drupal:{% endtrans %}</p>
  <ol>
    <li>{% trans %}<a href="{{ drupal_user_guide }}">User Guide:</a> Includes installing, administering, site building, and maintaining the content of a Drupal website.{% endtrans %}</li>
    <li>{% trans %}<a href="{{ create_content }}">Create Content:</a> Want to get right to work? Start adding content. <strong>Note:</strong> the information on this page will go away once you add content to your site. Read on and bookmark resources of interest.{% endtrans %}</li>
    <li>{% trans %}<a href="{{ drupal_extend }}">Extend Drupal:</a> Drupal’s core software can be extended and customized in remarkable ways. Install additional functionality and change the look of your site using addons contributed by our community.{% endtrans %}</li>
  </ol>
  <h2>{% trans %}Next Steps{% endtrans %}</h2>
  <p>{% trans %}Bookmark these links to our active Drupal community groups and support resources.{% endtrans %}</p>
  <ul>
    <li>{% trans %}<a href="{{ drupal_global_training_days }}">Global Training Days:</a> Helpful information for evaluating Drupal as a framework and as a career path. Taught in your local language.{% endtrans %}</li>
    <li>{% trans %}<a href="{{ drupal_events }}">Upcoming Events:</a> Learn and connect with others at conferences and events held around the world.{% endtrans %}</li>
    <li>{% trans %}<a href="{{ drupal_community }}">Community Page:</a> List of key Drupal community groups with their own content.{% endtrans %}</li>
    <li>{% trans %}Get support and chat with the Drupal community on <a href="{{ drupal_slack }}">Slack</a> or <a href="{{ drupal_chat }}">DrupalChat</a>. When you’re looking for a solution to a problem, go to <a href="{{ drupal_answers }}">Drupal Answers on Stack Exchange</a>.{% endtrans %}</li>
  </ul>
</div>
