{#
/**
 * @file
 * Theme override for a feed icon.
 *
 * Available variables:
 * - url: An internal system path or a fully qualified external URL of the feed.
 * - title: Title of the feed for describing the feed on the subscribe link.
 * - attributes: Remaining HTML attributes for the feed link.
 *   - title: A descriptive title of the feed link.
 *   - class: HTML classes to be applied to the feed link.
 */
#}

{{ attach_library('dotstore/feed') }}

{#
  @todo - This works around https://www.drupal.org/project/drupal/issues/3156244,
  Title variable isn't set by Syndicate block.
 #}
{% if title is not defined or title is null %}
  {% set title = 'RSS Feed'|t %}
{% endif %}

<a href="{{ url }}"{{ attributes.addClass('feed-icon') }}>
  <span class="feed-icon__label">
    {{ title }}
  </span>
  <span class="feed-icon__icon" aria-hidden="true">
    {% include "@dotstore/../images/rss.svg" %}
  </span>
</a>
