{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup themeable
 */
#}
<div class="row content-layout">
  {{ title_prefix }}
  {{ title_suffix }}
  {% if product.variation_field_images %}
  <div class="col-lg-6 product-gallery">
    {{ product.variation_field_images }}
  </div>
  {% endif %}
  <div class="col-lg-6 product-info">
  {% if product.variation_title %}
    <h2>{{ product.variation_title }}</h2>
  {% endif %}
  {% if product.overall_rating %}
    <div class="product-reviews">
        {{ product.overall_rating }}
    </div>
  {% endif %}
  <div class="price">
    {% if product.variation_list_price.0 %}
    <span class="regular-price">
    {{ product.variation_list_price }}
    </span>
    {% endif %}
    {% if product.variation_price %}
    <span class="special-price">
      {{ product.variation_price }}
    </span>
    {% endif %}
  </div>
  <div class="stock-avability">
    <label>Availability:</label>
    <span class="available">In stock</span>
  </div>
  <div class="short-descprition">
    {{ product.body }}
  </div>

    <div class="product-meta">
      {% if product.variation_sku %}
      <div class="product-meta-item">
        {{ product.variation_sku }}
      </div>
      {% endif %}
      {% if product.field_brand %}
      <div class="product-meta-item">
        {{ product.field_brand }}
      </div>
      {% endif %}
      {% if product.field_product_categories %}
      <div class="product-meta-item">
        {{ product.field_product_categories }}
      </div>
      {% endif %}
    </div>
    <div class='product-variations'>
    {{ product.variations }}
    </div>
  </div>
</div>
<section class="section-spacing">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 product-full-info">
          <ul class="nav nav-tabs">
            <li class="tab-nav-item active" data-id="description">Description</li>
            <li class="tab-nav-item" data-id="reviews">Reviews</li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" data-id="description">
              {{ product.body }}
            </div>
            <div class="tab-pane" data-id="reviews">
              <h2 class="post-stats">Leave a comment</h2>
               {{ product.overall_rating }}
               {{ drupal_block('product_review_form', {product:product_entity}) }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>