{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup themeable
 */
#}

{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup themeable
 */
#}
<div class="product">
  {% if product.variation_field_images %}
  <div class="product-image-variantion">
      {{ product.variation_field_images.0 }}
  </div>
  {% endif %}
  <div class="product-bottom-info">
    <div class="product-image-variantion">
      <div class="price">
        {% if product.variation_list_price %}
        <span class="regular-price">{{ product.variation_list_price|raw }}</span>
        {% endif %}
        {% if product.variation_price %}
        <span class="special-price">{{ product.variation_price|raw   }}</span>
        {% endif %}
      </div>
      {% if product.variation_attributes.variation_attribute_color %}
      <div class="variant color">
        <div class="option" style="border-color: #000;">{{ product.variation_attributes.variation_attribute_color }}</div>
      </div>
      {% endif %}
    </div>
    <h3 class="product-name">{{ product.title }}</h3>
    <div class="product-reviews">
      {{ product.overall_rating }}
    </div>
    <a href="{{ product_url }}" class="btn">Shop Now<i class="fa-solid fa-arrow-right"></i></a>
  </div>
</div>