{#
/**
 * @file
 * dotstore's implementation to display a block.
 *
 * Available variables:
 * - layout: String that will determine the layout of the block.
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}




<section class="main-banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 left-content">
      {% if content.field_banner_title %}
      <h2 class="banner-heading">{{ content.field_banner_title[0] }}</h2>{% endif %}
      {% if content.field_sub_title %}
      <p>{{ content.field_sub_title[0] }}</p>
      {% endif %}
      {% if content.field_bannerlink %}
      <div class="banner-buttons">
      {% for i in content.field_bannerlink['#items']|keys %}

      <a class="b_btn" href="{{ content.field_bannerlink[i]['#url'] }}">{{ content.field_bannerlink[i]['#title'] }} <i class="icon"><i class="fa-solid fa-chevron-right"></i></i></a>
      {% endfor %}
      </div> 
      {% endif %}

      </div>

      {% if content.field_middle_ %}
      <div class="col-lg-4 middle-images">
      {% for i in content.field_middle_['#items']|keys %}
      <div class="img">{{ content.field_middle_[i] }}</div>
      {% endfor %}
      </div>{% endif %}

      {% if content.field_right_section.0  %}
      <div class="col-lg-4 right-content">
      {{ content.field_right_section.0 }}
      </div>
      {% endif %}
    </div>
  </div>
</section>
