{#
/**
 * @file
 * dotstore's implementation to display a block.
 *
 * Available variables:
 * - layout: String that will determine the layout of the block.
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    layout ? 'layout--' ~ layout|clean_class,
  ]
%}


 <div class="row feature-block-wrap feature-block-image-right">
          <div class="col-12 col-lg-6 feat-block-image-wrap">
            <div class="feat-block-image">
              {{content.field_topimage.0}}
            </div>
          </div>
          <div class="col-12 col-lg-6 feat-block-content">
            <div class="block-title-content">
              <h5 class="block-subtitle">{{content.field_title}}</h5>
              <h2 class="block-title">{{content.field_sub_titlle}}</h2>
            </div>
            <div class="feat-block-text">
               {{content.body}}
            </div>
            <a class="btn blue-btn" href="{{ content.field_link['0']['#url'] }}">
        {{ content.field_link['0']['#title'] }}
  </a>
          </div>
        </div>

     