{#
/**
 * @file
 * dotstore's implementation to display a block.
 *
 * Available variables:
 * - layout: String that will determine the layout of the block.
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - in_preview: Whether the plugin is being rendered in preview mode.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    layout ? 'layout--' ~ layout|clean_class,
  ]
%}





<section class="collection-sec section-spacing">
  <div class="container">
    {% if content.body.0  %}
    <div class="col section-heading text-center">
      {{content.body.0}}
    </div>
    {% endif %}       
    {% if content.field_collection_images  %}      
      <div class="col collection-items">
      {% for i in content.field_collection_images['#items']|keys %}
      {% for i in content.field_collection_link['#items']|keys %}
        <div class="collection-item">
          <a href="{{ content.field_collection_link[i]['#link'] }}" class="img-wrapper">          
            {{ content.field_collection_images[i] }}     
          </a>
          <h4><a href="{{ content.field_collection_link[i]['#url'] }}">{{ content.field_collection_link[i]['#title'] }}</a></h4>
        </div>
        {% endfor %}
      {% endfor %}         
      </div> 
    {% endif %}
  </div>
</section>