{#
/**
 * @file
 * Theme override for a single local action link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - link: A rendered link element.
 *
 * @see template_preprocess_menu_local_action()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('dotstore/local-actions') }}

<li{{ attributes }} class="action-links-item">{{ link }}</li>
