{#
/**
 * @file
 * dotstore's theme implementation for the main menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/3.x/tags/macro.html
#}
{% set attributes = attributes.addClass('menu') %}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% set primary_nav_level = 'menu--level-' ~ (menu_level + 1) %}
  {% import _self as menus %}
  {% if items %}
    <ul {{ attributes.addClass('menu align-items-center', primary_nav_level) }}>
      {% set attributes = attributes.removeClass(primary_nav_level) %}
      {% for item in items %}

        {% if item.url.isRouted and item.url.routeName == '<nolink>' %}
          {% set menu_item_type = 'nolink' %}
        {% elseif item.url.isRouted and item.url.routeName == '<button>' %}
          {% set menu_item_type = 'button' %}
        {% else %}
          {% set menu_item_type = 'link' %}
        {% endif %}

        {% set item_classes = [
            'nav-item',
            'menu__item--' ~ menu_item_type,
            'menu__item--level-' ~ (menu_level + 1),
            item.in_active_trail ? 'menu__item--active-trail',
            item.below ? 'menu__item--has-children',
          ]
        %}

        {% set link_classes = [
            'nav-link',
            'menu__link--' ~ menu_item_type,
            'menu__link--level-' ~ (menu_level + 1),
            item.in_active_trail ? 'menu__link--active-trail',
            item.below ? 'menu__link--has-children',
          ]
        %}

        <li{{ item.attributes.addClass(item_classes) }}>
        
          {#
            A unique HTML ID should be used, but that isn't available through
            Twig yet, so the |clean_id filter is used for now.
            @see https://www.drupal.org/project/drupal/issues/3115445
          #}
          {% set aria_id = (item.title ~ '-submenu-' ~ loop.index )|clean_id %}
           
           
          {{ link(item.title, item.url, { 'class': link_classes }) }}
          <i class="fa-regular fa-user"></i>
          {% if item.below %}
          
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}

        </li>
      {% endfor %}
      <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">
                <svg class="svg-inline--fa" version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 25">
                    <path d="m15.2 22.5c0 0.7-0.6 1.3-1.4 1.3-0.7 0-1.3-0.6-1.3-1.3 0-0.8 0.6-1.4 1.3-1.4 0.8 0 1.4 0.6 1.4 1.4z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"/>
                    <path d="m27 22.5c0 0.7-0.6 1.3-1.4 1.3-0.7 0-1.3-0.6-1.3-1.3 0-0.8 0.6-1.4 1.3-1.4 0.8 0 1.4 0.6 1.4 1.4z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"/>
                    <path d="m10.4 8h19.3l-1.9 6.5c-0.2 0.7-1.1 1.2-2.2 1.2h-11.1c-1.1 0-2-0.5-2.2-1.2l-3.1-10.3h-4.5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"/>
                </svg>
                <span class="counts">0</span> Basket
              </a>
            </li>
    </ul>
  {% endif %}
{% endmacro %}
