<footer class="site-footers">
    <div class="newsletter-sec section-spacing">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <h2>Sign Up Today</h2>
            <p>Stay informed on great deals. Subscribe to our newsletter.</p>
          </div>
          <div class="col-lg-6">
            {{ page.content_below.newslettersignupblock_2 }}
            </div>
        </div>
      </div>
    </div>

    <div class="footer-middle">
      <div class="container">
        <div class="row">
        {% if page.footer_first  %}
          <div class="col footer-block">
            {{ page.footer_first }}    
          </div>
        {% endif %} 

          {% if page.footer_second  %}
          <div class="col footer-block">
            {{ page.footer_second }}    
          </div>
          {% endif %}    
          {% if page.footer_therd  %}
          <div class="col footer-block">
            {{ page.footer_therd }}    
          </div>
          {% endif %}    
          <div class="col footer-block address">
          {% if contact_us  %}
            <h4 class="footer-block-title">Contact us</h4>    
            <div class="icon-row">
              <i class="fa-solid fa-location-dot"></i>
              <p>{{ contact_us }}</p>
            </div> 
          {% endif %}    
          {% if phone_number  %}
            <div class="icon-row">
              <i class="fa-solid fa-phone"></i>
              <a href="tel:{{ phone_number }}">{{ phone_number }}</a>
            </div>
          {% endif %}    
          {% if email_address  %}
            <div class="icon-row">
              <i class="fa-regular fa-envelope-open"></i>
              <a href="mailto:{{ email_address }}">{{ email_address }}</a>
            </div>
          {% endif %}      
            <ul class="social-links list-inline d-flex align-items-center m-0">
            {% if facebbok_link  %}
            <li><a href="{{ facebbok_link }}"><i class="fa-brands fa-facebook-f"></i></a></li>
            {% endif %}    
            {% if twitter_link  %}
            <li><a href="{{ twitter_link }}"><i class="fa-brands fa-twitter"></i></a></li>
            {% endif %}    
            {% if instagram_link  %}
            <li><a href="{{ instagram_link }}"><i class="fa-brands fa-instagram"></i></a></li>
            {% endif %}    
            {% if youtube_link  %}
            <li><a href="{{ youtube_link }}"><i class="fa-brands fa-youtube"></i></a></li>
            {% endif %} 
            </ul>
          </div>
        </div>
        <div class="copyright-sec">
          <div class="row align-items-center">
          {% if copy_right  %}
            <div class="col-lg-8 text-center text-lg-start">
              <p>{{ copy_right }}</p>
            </div>
          {% endif %} 
            <div class="col-lg-4 text-center text-lg-end designerdby">
              <p>Website Designed & Developed by: <a href="#"><img src="{{ dotstore_path }}/images/designedby.png" alt="Dotsquares"></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
