<!-- Header Top Section -->
  <div class="topbar">
    <div class="container-fluid">
      <div class="row">
       
      {% if offer_message  %}
        <div class="col-lg-4 text-center text-lg-start">{{ offer_message }}</div>
      {% endif %}  
      {% if message_box  %}
        <div class="col-lg-4 text-center">{{ message_box }}</div>
      {% endif %}    
        <div class="col-lg-4 text-center text-lg-end">
          <ul class="social-links list-inline d-flex align-items-center justify-content-center justify-content-lg-end m-0">
            {% if facebbok_link  %}
            <li class="ms-3"><a href="{{ facebbok_link }}"><i class="fa-brands fa-facebook-f"></i></a></li>
            {% endif %}    
            {% if twitter_link  %}
            <li class="ms-3"><a href="{{ twitter_link }}"><i class="fa-brands fa-twitter"></i></a></li>
            {% endif %}    
            {% if instagram_link  %}
            <li class="ms-3"><a href="{{ instagram_link }}"><i class="fa-brands fa-instagram"></i></a></li>
            {% endif %}    
            {% if youtube_link  %}
            <li class="ms-3"><a href="{{ youtube_link }}"><i class="fa-brands fa-youtube"></i></a></li>
            {% endif %}    
          </ul>
        </div>
      </div>
    </div>
  </div>
      
  <!-- Header Section -->
  <header class="site-header sticky-top">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
      
        <div class="humburger-btn">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg class="open-icon" xmlns="http://www.w3.org/2000/svg" width="48" height="28" viewBox="0 0 48 28">
              <g transform="translate(-205 -94)">
                <rect width="48" height="4" rx="2" transform="translate(205 94)" fill="#284544"/>
                <rect width="48" height="4" rx="2" transform="translate(205 106)" fill="#284544"/>
                <rect width="48" height="4" rx="2" transform="translate(205 118)" fill="#284544"/>
              </g>
            </svg>
          </button>
        </div>

         {% if page.header.dotstore_site_branding  %}{{ page.header.dotstore_site_branding }} {% endif %}    
        
        <div class="collapse navbar-collapse justify-content-lg-center" id="navbarSupportedContent">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" width="38.348" height="35.091" viewBox="0 0 38.348 35.091">
              <g transform="translate(-209.826 -73.455)">
                <rect width="48" height="4" rx="2" transform="translate(212.503 73.455) rotate(42)" fill="#284544"/>
                <rect width="48" height="4" rx="2" transform="translate(248.174 76.427) rotate(138)" fill="#284544"/>
              </g>
            </svg>
          </button>
          {% if page.primary_menu  %}{{ page.primary_menu }}{% endif %}    
          
        </div>
        <div class="user-links">
        {{ page.header.useraccountmenu }} 
          <ul class="navbar-nav align-items-center">
          {% if primary_links.0  %}
            <li class="nav-item">
             {{ primary_links.0|raw }}
            </li> {% endif %}   
            {% if primary_links.1  %}
            <li class="nav-item">
            {{ primary_links.1|raw }}
            </li>{% endif %}   
            <li class="nav-item">
              <a class="nav-link" aria-current="page" title="Wishlist" href="#"><i class="fa-regular fa-heart"></i> <span class="text">Wishlist</span></a>
            </li>
            {% if page.header.cart  %}
             <li class="nav-item">{{ page.header.cart }}</li>
            {% endif %}  
          </ul>
        </div>
      </div>
    </nav>
  </header>

  